{% extends 'base.html' %}


{% block content %}

<h1>Le projet Wikigesu</h1>

    <div class="row">
  <div class="col-md-8">
 
   
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius nibh urna, eu semper turpis luctus vel. Donec nisl massa, pretium sed luctus et, condimentum imperdiet orci. Aenean nibh leo, ornare non nibh non, cursus scelerisque ligula. Integer interdum commodo neque vitae tempor. Praesent sit amet leo justo. Ut nec condimentum mauris. Nullam commodo porttitor odio, sit amet commodo nisl. Nam ut varius tellus.</p>

        <p>Donec a lectus sapien. Curabitur sit amet molestie enim, non placerat turpis. Morbi non eleifend purus. Mauris semper mattis vestibulum. Fusce justo dui, luctus at iaculis vitae, consectetur et mi. Sed fringilla laoreet pretium. Duis lacinia quis urna at congue. Sed at enim nec massa lobortis ornare eu eu dui. Praesent non varius turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

        <p>Donec luctus eu dolor et porta. Sed mollis diam est, non varius lorem lacinia nec. Fusce sagittis neque sed placerat gravida. Integer consectetur massa non sem luctus, et imperdiet turpis sagittis. Vivamus ligula massa, pretium a libero sed, volutpat gravida lorem. In consectetur feugiat faucibus. Ut venenatis neque ultricies tristique rutrum. Cras vestibulum at enim mollis dapibus.</p>

        <p>Suspendisse feugiat neque ut nisl feugiat sodales varius at enim. Ut accumsan turpis vitae enim pulvinar sagittis. Proin ut semper felis. Duis blandit a erat non suscipit. Sed sit amet orci nulla. Etiam sollicitudin massa quis ligula sagittis malesuada. Nullam in nisi in nulla ultricies venenatis.</p>

        <p>Donec aliquet ornare convallis. Nulla quis imperdiet eros. Pellentesque pellentesque venenatis nisi. Vivamus feugiat congue velit id ullamcorper. Vivamus ac nibh dignissim erat vulputate mollis. Donec eget magna erat. In vitae egestas odio, in commodo odio. Suspendisse lacinia mauris arcu, a dignissim lacus dictum sit amet. Sed vitae pellentesque sapien, eu tincidunt urna.</p>
    </div>
    
     <div class="col-md-4">
         <img src="{{ STATIC_URL }}/img/accueil.jpg" width="80%" height="80%" />
     </div>
</div>

{% endblock %}